html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: auto;
  font-size: 1rem;
  background-color: #111111!important;
  max-width: 1440px;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
}
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h1 {
  font-size: 3.3125rem;
  line-height: 1.15em;
}
h2 {
  font-size: 2.25rem;
  line-height: 1.5em;
}
h3 {
  font-size: 1.5625rem;
  line-height: 1.4em;
}
h4 {
  font-size: 1.125rem;
  line-height: 1.5em;
}
h5 {
  font-size: 1.0625rem;
  line-height: 1.55em;
}
h6 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
}
p {
  font-size: 14px;
  margin: 0 0 10px;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
body {
  background-color: #e5e5e5;
  color: #000;
  font-size: 1rem;
  text-align: left;
}

legend {
  border-bottom: 0;
}

header{
  margin-top: 0px;
}

// Prevent highlight on mobile
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  &:focus {
    outline: 0;
  }
}

a {
  color: $link-color;
  text-decoration: none;
  background-color: transparent;
  &:hover,
  &:focus {
    color: #68C4FF;
    text-decoration: none;
  }
}

header a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  background-color: transparent;
  &:hover,
  &:focus {
    color: #68C4FF;
    text-decoration: none;
    svg > path{
      fill: #68C4FF !important;
    }
  }

}


header button {
  text-transform: none !important;
  font-size: 18px!important;
  margin: 20px 0!important;
}

header li{
  padding-left: 50px!important;
}


#top svg[role=presentation]{
  fill: #fff;
}

#shed{
  max-width: inherit;
}

#colorlogo-mid{
  margin: auto;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 150px;
  margin-top: -50px;
  margin-bottom: -50px;
  width: 250px;

}

#top h1{
  color:#fff;
  line-height: 110%;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 200;
  font-size: 36px;
}

#top h4{
  color: white;
  font-size: 18px;
  margin-top: 40px;
  font-weight: 400;
}




#logo svg{
  margin-left: 5px!important;
}

#top #logo svg path {
  fill: #fff;
} 




footer a {
  color: #002642;
  text-decoration: none;
  background-color: transparent;
  &:hover,
  &:focus {
    color: darken(white, 25%);
    text-decoration: none;
  }
}

label {
  font-size: 14px;
  line-height: 1.42857;
  color: $checkboxes-text-color;
  font-weight: 400;
}
small {
  font-size: 75%;
  color: #777;
  font-weight: 400;
}
img {
  vertical-align: middle;
  border-style: none;
}
form {
  margin-bottom: 1.125rem;
}

#decrypt {
    background: rgba(0, 0, 0, 0.5);
    overflow:hidden;
    min-width: 100%;
    width: auto;
    text-align: left;
    position: relative;
    z-index: -1000;
}

#decrypt h1, #decrypt h2, #decrypt h3, #decrypt h4 {
  padding: 10px;
}

#decryptLeft, #decryptRight {
  display: flex;
  justify-content: center;
}



#decryptRight{
  margin-left: 40px;
}

#grid-video{
  margin:0 auto;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  transition: 1s opacity;
  position:absolute;
}


#product-section{
  display: flex;
  flex-direction:column-reverse;
  justify-content: center;
  flex-wrap: reverse;
  align-items:center;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  padding: 50px 0;

}

.product-item{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

#people{
  text-align: left;
}

#people p{
  color: #000;
  font-size: 18px;
  text-align: left;
  line-height: 150%;
}

#peopleall {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-content: space-around;
  flex-direction: row;
  align-items: center;
}

#people a{
  color: #000;
}

#people a:visited{
  color: #000;
}

#people img{
  margin-bottom: 10px;
}

#big-quote {
  background: url("../../assets/img/logosvg.svg"), #002642;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 75%;
  background-blend-mode: overlay;
  height: 100%;
  text-align: center;
  padding: 60px 200px;
  color: #fff;
}

#big-quote h3{
  padding-bottom: 50px;
}

#big-quote p{
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 40px;
  padding-top: 50px;
  max-width: 1140px;
  margin: auto;
}

#news {
  background: linear-gradient(270deg, #000000 0%, #222 50%, #000000 100%);;
  padding: 30px 0 50px 0;
  min-height: 400px;
}

#news h3{
  margin: 0px;
  padding: 0px;
  margin-top: 20px;
}

#news h4{
  margin: 0px;
  padding: 0px;
  font-weight: 700;
}

#news a{
  color: white;
}

#news a:visited {
  color: white;
}

#news a:hover{
  text-decoration: underline #68C4FF;
}

#top{
  background: #222;

}

#top-details{
  margin-left: 0px;
  padding-left: 0px;
  text-align: right;
}

#colorLogo svg path {
  border-image-source: linear-gradient(135deg, #52E5E7 0%, #130CB7 100%);
  stroke-width: 2;
  stroke: white;
  stroke-linejoin: miter;
  border: 2px solid;
}

#vannevar{
  background: url("../../assets/img/triangles.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#vannevar p{
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#bio-holder {
  background: #002642;
  height: 100%;
  text-align: center;
  padding: 60px 0 0 0;
  color: #fff;
}

#bio-holder h1{
  text-align: left;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 20px;
}

#bio-holder-next {
  background: #fff;
  height: 100%;
  text-align: center;
  padding: 60px 0 0 0;
  max-width: 100%;
}

#bio-holder-next h1{
  text-align: left;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 20px;
  color: #000;
}

#bio-holder-next p, #bio-holder-next h2, #bio-holder-next h3 {
  color: #000;
}

.bio {
  text-align: left;
}

.bio h2{
  font-size: 24px;
  margin: 0px;
  padding: 0px;
}

.bio h3{
  font-size: 18px;
  font-weight: 700;
  margin: 0px;
  padding: 0px 0px 10px;
}

.bio p{
  margin-top: 0px;
  padding-top: 0px;
  font-size: 16px;
}

.bio img{
  width: 100%;
  margin-bottom: 15px;
  border-radius: 20px;
  object-fit: cover;
  object-position: top center;
}

.bio #top-button{
  margin-bottom: 50px;
}

#contact{
  background: url("../../assets/img/vannevar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
}

#contact p{
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#contact form {
  padding-top: 25px;
}

#name, #email, #message  {
  color: white;
}

#contact form button{
  margin-top: 20px;
  background-color: #68C4FF;
  color: #000;
  text-transform: none;
  font-size: 14px;
}

@media screen and (min-width: 400px) and (max-width: 960px) {
  h1 {
    font-size: 38px;
  }

  #big-quote{
    padding: 20px 20px;
  }

  #decrypt h1, #decrypt h2, #decrypt a {
    text-align: center;
  }

  #decrypt h2{
    margin: 0px;
  } 

  header button{
    margin: 0px;
  }

  }

@media screen and (min-width: 960px) and (max-width: 1200px){
  #top {
    background: #222;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-blend-mode: normal;

  }
  #contact{
    background: url("../../assets/img/vannevar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 90vh;
  }
}


@media screen and (min-width: 700px) and (max-width: 960px){
  #top{
    background: #222;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom center;
    background-blend-mode: normal;

}
  #contact{
    background: url("../../assets/img/vannevar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right -500px;
    min-height: 90vh;
    background-blend-mode: multiply;
  }
}

@media screen and (min-width: 401px) and (max-width: 699px){
  #top{
    background: #222;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom center;
    background-blend-mode: normal;

}
}

@media screen and (min-width: 1441px) {
  #top{
    background: #222;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-blend-mode: normal;

}
}

@media screen and (max-width: 500px) {
  #footerInner{
    flex-direction: column!important;
    align-items: center;
  }

  #decryptLeft img {
    display: none;
  }

  #decryptRight{
    margin-left: 0px;
  }


  #contact{
    background: url("../../assets/img/vannevar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right -800px;
    min-height: 90vh;
    background-blend-mode: multiply;
  }
}

@media screen and (max-width: 1024px){
  .product-item{
    align-items: center;
  }




  header button{
    margin: 0px;
  }

div[role=document] a{
  color: #000;
}

div[role=document] a[role=button]{
  margin-top: 8px;
  margin-bottom: 8px;
}

  #top-button a[role=button]{
    margin: 0px;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 28px;
  }

  h2{
    font-size: 24px;
  }

  #people {
    padding-top: 20px;
    text-align: center;
  }

  #people p, #people h1, #people h2 {
      text-align: center!important;
  }

  #big-quote{
    padding: 10px 10px;
  }

  #news h3{
    font-size: 18px;
  }

  #news h4{
    font-size: 12px;
  }

  #top h4{
    font-size: 16px;
    padding-bottom: 20px;
  }

  #top{
    background: #222;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-blend-mode: normal;
  }

}

a[role=button] {
  text-transform: none!important;
  font-size: 18px;
  margin: 20px 0;
}

#top-button {
  background-color: #68C4FF;
  color: #000!important;
}

#top-button a{
  color: #000!important;
}

#top-button a:visited{
  color: #000;
}

#decrypt a[role=button] {
  background-color: #68C4FF;
  color: #000;
}

#decrypt a[role=button] a:visited{
  color: #000;
}

#decrypt a{
  color: #000!important;
}

#people a[role=button] {
  background-color: #68C4FF;
  color: #000;
  text-transform: none;
  font-size: 14px;
}

#jobs:hover{
  text-decoration: underline #000 2px!important;
}



header h3{
  margin: 10px 0 10px 0;
}

header a:visited{
  color: white;
}

footer {
  background-color: #fff;
  color: #002642;
  padding: 0px;
  margin: 0px;
  align-items: center;
}

footer #blue {
  background-color: #002642;
  color: #fff;
  padding: 0px;
  margin: 0px;
  align-items: center;
}

#footerMain{
  display: block
}

#footerInner{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#footerLeft{
  padding-top: 25px;

}

#footerLeft, #footerRight {
  display: flex;
  float: none!important;
  flex-direction: column;
}

footer a{
  text-transform: none!important;
}

button a{
  text-transform: none;
  font-size: 14px;
}

header button a:hover{
  color:white;
}

#contact-button{
  border: none;
  height: 50px;
  width: 150px;
  border-radius: 4px;
}

#contact-button:hover{
  box-shadow: 0 2px 10px #68C4FF;
  cursor: pointer;
}