html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-size: 1rem;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
}
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h1 {
  font-size: 3.3125rem;
  line-height: 1.15em;
}
h2 {
  font-size: 2.25rem;
  line-height: 1.5em;
}
h3 {
  font-size: 1.5625rem;
  line-height: 1.4em;
}
h4 {
  font-size: 1.125rem;
  line-height: 1.5em;
}
h5 {
  font-size: 1.0625rem;
  line-height: 1.55em;
}
h6 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
}
p {
  font-size: 14px;
  margin: 0 0 10px;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
body {
  background-color: #e5e5e5;
  color: $black-color;
  margin: 0;
  font-size: 1rem;
  text-align: left;
}

legend {
  border-bottom: 0;
}

// Prevent highlight on mobile
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  &:focus {
    outline: 0;
  }
}

a {
  color: $link-color;
  text-decoration: none;
  background-color: transparent;
  &:hover,
  &:focus {
    color: darken($link-color, 5%);
    text-decoration: none;
  }
}

label {
  font-size: 14px;
  line-height: 1.42857;
  color: $checkboxes-text-color;
  font-weight: 400;
}
small {
  font-size: 75%;
  color: #777;
  font-weight: 400;
}
img {
  vertical-align: middle;
  border-style: none;
}
form {
  margin-bottom: 1.125rem;
}

#decrypt {
    background: rgba(0, 0, 0, 0.5);
    overflow:hidden;
    min-width: 100%;
    width: auto;
    box-shadow: black 0px -2px 40px;
    text-align: left;
}

#decrypt h1, h2, h3, h4 {
  padding: 10px;
}

#decryptLeft, #decryptRight {
  display: flex;
  justify-content: center;
}

#decryptLeft{
  padding-right: 40px;
}

#decryptRight{
  margin-left: 40px;
}

#grid-video{
  margin:0 auto;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  transition: 1s opacity;
  position:absolute;
}


#product-section{
  display: flex;
  flex-direction:column-reverse;
  justify-content: center;
  flex-wrap: reverse;
  align-items:center;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  padding: 50px 0;

}

#people{
  text-align: left;
}

#people p{
  color: #000;
  font-size: 18px;
  text-align: left;
}

#peopleall {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-content: space-around;
  flex-direction: row;
  align-items: center;
}

#people a{
  color: #000;
}

#people a:visited{
  color: #000;
}

#people img{
  margin-bottom: 10px;
}

#big-quote {
  background: #002642;
  height: 100%;
  text-align: center;
  padding: 60px 200px;
  color: #fff;
}

#big-quote h3{
  padding-bottom: 50px;
}

#big-quote p{
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 40px;
  padding-top: 50px;
}

#news {
  background: linear-gradient(270deg, #000000 0%, #222 50%, #000000 100%);;
  padding: 30px 0 50px 0;
  min-height: 400px;
}

#news h3{
  margin: 0px;
  padding: 0px;
  margin-top: 20px;
}

#news h4{
  margin: 0px;
  padding: 0px;
  font-weight: 700;
}

#top{
  background: url("../../assets/img/farm_small.png"), rgba(0,0,0,0.3);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  min-height: 800px;
  background-blend-mode: multiply;
}

#vannevar{
  background: url("../../assets/img/vannevar.png"), rgba(0,0,0,0.3);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  min-height: 600px;
  max-height: 800px;
  background-blend-mode: multiply;
}

#vannevar p{
  font-size: 18px;
  line-height: 32px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#bio-holder {
  background: #002642;
  height: 100%;
  text-align: center;
  padding: 60px 0 0 0;
  color: #fff;
}

#bio-holder h1{
  text-align: left;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 20px;
}

#bio-holder-next {
  background: #fff;
  height: 100%;
  text-align: center;
  padding: 60px 0 0 0;
}

#bio-holder-next h1{
  text-align: left;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 20px;
  color: #000;
}

#bio-holder-next p, #bio-holder-next h2, #bio-holder-next h3 {
  color: #000;
}

.bio {
  text-align: left;
}

.bio h2{
  font-size: 24px;
  margin: 0px;
  padding: 0px;
}

.bio h3{
  font-size: 18px;
  font-weight: 700;
  margin: 0px;
  padding: 0px 0px 10px;
}

.bio p{
  margin-top: 0px;
  padding-top: 0px;
  font-size: 16px;
}

.bio img{
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
  height: 255px;
  max-width: 255px;
  object-fit: cover;
  object-position: top center;
}

@media screen and (min-width: 400px) and (max-width: 960px) {
  h1 {
    font-size: 38px;
  }

  #big-quote{
    padding: 20px 20px;
  }

  #decrypt h1, #decrypt h2, #decrypt a {
    text-align: center;
  }

  #vannevar{
    background: url("../../assets/img/vannevar.png"), rgba(0,0,0,0.6);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    background-blend-mode: multiply;
  }
}

@media screen and (max-width: 500px) {
  #footerInner{
    flex-direction: column!important;
  }

  #decryptLeft img {
    display: none;
  }

  #decryptRight{
    margin-left: 0px;
  }

  #vannevar{
    background: url("../../assets/img/vannevar.png"), rgba(0,0,0,0.8);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    background-blend-mode: multiply;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 32px;
  }

  h2{
    font-size: 24px;
  }

  #people {
    padding-top: 20px;
    text-align: center;
  }

  #people p, #people h1, #people h2 {
      text-align: center!important;
  }

  #big-quote{
    padding: 10px 10px;
  }

  #news h3{
    font-size: 18px;
  }

  #news h4{
    font-size: 12px;
  }

}

a[role=button] {
  text-transform: none!important;
  font-size: 14px;
  margin: 20px 0;
}

header h3{
  margin: 10px 0 10px 0;
}

footer {
  background-color: #fff;
  color: #002642;
  padding: 0px;
  margin: 0px;
  align-items: center;
}

footer #blue {
  background-color: #002642;
  color: #fff;
  padding: 0px;
  margin: 0px;
  align-items: center;
}

#footerMain{
  display: block
}

#footerInner{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#footerLeft{
  padding-top: 20px;

}

#footerLeft, #footerRight {
  display: flex;
  float: none!important;
  flex-direction: column;
}

footer a{
  text-transform: none!important;
}
